<!doctype html>

<!--Site built by Andrew Whipple, using Twitter Bootstrap, Bootswatch, and some hacked-at Node.js starter code from Stanford CS147 course. Therefore copyright stuff is nebulous. Basically, steal my CODE with abandon, but like, don't be a jerk and steal my STUFF (like my writing and whatnot.)-->

<html>
<head>
	<title>Andrew Whipple</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Symbolic Systems undergraduate at Stanford University, former intern at Cheezburger, comedy writer, musician, programmer, and Youtuber.">
	<meta name="robots" content="index, follow">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="./css/bootswatch.css" rel="stylesheet">
	
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<style>
	body { padding-top: 70px; }
	</style>
	
	       
</head>

<body>
	<div id="wrap">
		
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigatoin</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Home</a>
				</div>
				
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<!-- Highlighted-->
						<!--<li class="active"><a href="#">Link</a></li>-->
						<li><a href="./writing">Writing</a></li>
						<li><a href="./music">Music</a></li>
						<li><a href="./games">Games</a></li>
						<!--<li><a href="./websites">Websites</a></li>-->
						<li><a href="./youtube">Youtube</a></li>
						<li><a href="./podcast">Podcast</a></li>
						<li><a href="./contact">Contact</a></li>
						<li class="active"><a href="./resume">Resume</a></li>
						<!--<li>
							<a href="!"><span class="glyphicon glyphicon-music"></span>
							</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-film"></span></a>
						</li>-->
						<!-- Normal
						<li><a href="#">Link</a></li>
							-->
						<!-- Dropdown
						<li class="dropdown">
							<a href="#" class"dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Thing</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>-->
					</ul>
				</div>
			</div>
			
			
			
			
		</nav>
		
		<div class="container"><h1>Acting Resume</h1>
		
		</div>

		<div class="container">
			<div class="row">
			<div class="col-md-6">
				<h4>Experience</h4>
				<li><strong><em>Almost, Maine (2014)</em> </strong>Jimmy, The Freex (dir. Patty Kim)</li>
				<li><em><strong>Twelfth Night (2013)</strong></em> Feste, Stanford University (dir. Michelle Darby)</li>
				<li><em><strong>Our Town (2012)</strong></em> Joe Stoddard, Lakeside School (dir. Alban Dennis)</li>
				<li><em><strong>Oliver (2012)</strong></em> Bill Sykes, Lakeside School (dir. Alban Dennis)</li>
				<li><em><strong>Take Out (2011)</strong></em> Terrence LaFlamboy, Lakeside School (dir. Randy Hoffmeyer)</li>
				<li><em><strong>Macbeth (2011)</strong></em> Witch 1/Sergeant, Lakeside School (dir. Alban Dennis)</li>
				<li><em><strong>The Winged Man (2011)</strong></em> The Winged Man, Young American's Theatre Co (dir. Maddie Daviss)</li>
				<li><em><strong>Fiddler On The Roof (2011)</strong></em> Sasha/Ensemble, Lakeside School (dir. Margery Ziff)</li>
				<li><em><strong>Zap! (2010)</strong></em> Clifford Gray, Lakeside School (dir. Rob Burgess)</li>
				<li><em><strong>The Real Inspector Hound (2010)</strong></em> Moon, Lakeside School (dir. Gretchen Orsland)</li>
				<li><em><strong>Museum (2009)</strong></em> Bob Lamb, Lakeside School (dir. Margery Ziff)</li>
				<li><em><strong>Burying Your Brother In The Pavement (2009)</strong></em> Ensemble, Lakeside School (dir. Alban Dennis)</li>
				
				<br>
				<a href="./technical"><em>Click here for Technical Resume</em></a>
				<br>
				<a href="./resume"><em>Click here for General Resume</em></a>
			</div>
		
			<div class="col-md-6">
			<h4>Education</h4>
			<ul>
				<li>
					<strong><em>Acting</em></strong> 
					<ul>
						<li>Gretchen Orsland & Alban Dennis, Lakeside School 2009-2012</li>
						<li>Jeffrey Bihr, Stanford University 2013</li>
					</ul>
				</li>
				<li>
					<em><strong>Movement</strong></em>
					<ul>
						<li>Gary Reed, 2009</li>
					</ul>
				
				</li>
				<li>
					<em><strong>Combat</strong></em>
					<ul>
						<li>Deb Fialkow, 2010</li>
					</ul>
				
				</li>
				<li>
					<em><strong>Playwriting</strong></em>
					<ul>
						<li>K. Brian Neel, ACT Theater's Young Playwrights Program 2011</li>
						<li>Amy Freed, Stanford University 2014</li>
					</ul>
				
				</li>
			</ul>
			
			<h4>Special Skills</h4>
			<ul>
				<li>Conversational French</li>
				<li>Unarmed Stage Combat</li>
				<li>Improvisation</li>
				<li>Guitar/Piano/Mandolin/Drums/Bass/Banjo/Ukulele</li>
				<li>Standard British/Cockney/Scottish/Irish/Southern/Russian accents</li>
			</ul>
			
			
		</div>
		
			
			</div>
		
		
		</div>


		<div id="push"></div>
	</div>

			<div id="footer">
			      <div class="container" id="socialFoot">
			        <a href="https://twitter.com/andrewthewhip"><%= image_tag "Twitter.png", :size => "40x40"%></a>
					<a href="https://andrewthewhip.tumblr.com"><%= image_tag "Tumblr.png", :size => "40x40"%></a>
					<a href="https://www.pinterest.com/andrewthewhip/"><%= image_tag "Pinterest.png", :size => "40x40"%></a>
					<a href="https://youtube.com/theandrewwhipple"><%= image_tag "Youtube.png", :size => "40x40"%></a>
					<a href="https://soundcloud.com/andrew-whipple"><%= image_tag "Soundcloud.png", :size => "40x40"%></a>
					<a href="https://instagram.com/andrewthewhip"><%= image_tag "Instagram.png", :size => "40x40"%></a>
					<a href="https://www.linkedin.com/profile/view?id=311645742&trk=nav_responsive_tab_profile_pic"><%= image_tag "Linkedin.png", :size => "40x40"%><!--<img src="assets/images/Linkedin.png" height="40" width="40">--></a>
			      
				  <!--<em id="copyright">Built by Andrew Whipple, using Bootstrap & Bootswatch. Those are cool. Use them too.</em>-->
				  </div>
			    </div>
		
	

	

				<!--Javascript and GA links-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48462411-4', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
